<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/completed.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@400;700;900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include("partials/_header") %>
    <article class="add-task-container">
      <h1>Completed tasks</h1>
    </article>
    <div class='categories'>
      <section>
        <h2><i class="fas fa-film"></i>Movies</h2>
        <article class="category">
        <% for(let task in Movies) { %>
          <p><a href="/user/tasks/<%= Movies[task].id %>"><%= Movies[task].title %></a></p>
        <% } %>
        </article>
      </section>
      <section>
        <h2><i class="fas fa-book-open"></i> Books</h2>
        <article class="category">
          <% for(let task in Books) { %>
          <p><a href="/user/tasks/<%= Books[task].id %>"><%= Books[task].title %></a></p>
          <% } %>
        </article>
      </section>
      <section>
        <h2><i class="fas fa-shopping-cart"></i>Products</h2>
        <article class="category">
          <% for(let task in Products) { %>
            <p><a href="/user/tasks/<%= Products[task].id %>"><%= Products[task].title %></a></p>
          <% } %>
        </article>
      </section>
      <section>
        <h2><i class="fas fa-utensils"></i> Restaurants</h2>
        <article class="category">
          <% for(let task in Restaurants) { %>
            <p><a href="/user/tasks/<%= Restaurants[task].id %>"><%= Restaurants[task].title %></a></p>
          <% } %>
        </article>
      </section>
    </div>
  </body>
</html>
