<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Qwigley&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include("partials/_header") %>
    <article class="add-task-container">
      <h1>Completed tasks</h1>
    </article>
    <div class='categories'>
      <section class="movies">
        <h2><i class="fas fa-film"></i>Movies</h2>
        <article class="category">
        <% for(let task in Movies) { %>
          <ul><li><%= Movies[task].title %></ul></li>
        <% } %>
        </article>
      </section>
      <section class="books">
        <h2><i class="fas fa-book-open"></i> Books</h2>
        <article class="category">
          <% for(let task in Books) { %>
          <ul><li><%= Books[task].title %></ul></li>
          <% } %>
        </article>
      </section>
      <section class="products">
        <h2><i class="fas fa-shopping-cart"></i>Products</h2>
        <article class="category">
          <% for(let task in Products) { %>
            <ul><li><%= Products[task].title %></ul></li>
          <% } %>
        </article>
      </section>
      <section class="restaurants">
        <h2><i class="fas fa-utensils"></i> Restaurants</h2>
        <article class="category">
          <% for(let task in Restaurants) { %>
            <ul><li><%= Restaurants[task].title %></ul></li>
          <% } %>
        </article>
      </section>
    </div>
  </body>
</html>
