<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/task_description.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Oswald:wght@400;700&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Rubik:wght@400;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
</head>
<body>
  <%- include("partials/_header") %>
  <section>
    <div class='col1'>
      <img src="<%= task[0].imageurl%>">
    </div>
    <div class='col2'>
      <form action="/user/<%= task[0].id%>/edit" method="POST">
        <div class='task_info'>
          <h3 class="task-title"><%= task[0].title%></h3>
          <textarea name="description"><%= task[0].description%></textarea>
          <div class="label-input-container">
            <select name="type" class="input">
            <option value="None" selected disabled hidden><%= task[0].type%></option>
            <option value="Movie">Movie</option>
            <option value="Product">Product</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Book">Book</option>
          </select>
          <div class='container-buttons'>
            <button type="submit" class="submit">Submit</button>
            <div class="comp-del-buttons">
            </form>
              <form action="/user/<%= task[0].id%>/complete" method="POST">
                <button type="submit">Complete</button>
              </form>
              <form action="/user/<%= task[0].id%>/delete" method="POST">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
</body>
</html>
